<p> @ViewBag.Disco.Nombre</p>
<p> @ViewBag.Disco.Artista</p>
<p> @ViewBag.Disco.Productor</p>
<p> @ViewBag.Disco.Genero</p>
@{
    foreach(string tema in @ViewBag.Disco.Temas)
    {
        <p>@tema</p>
    }
}
<img src = /@ViewBag.Disco.Foto alt = @ViewBag.Disco.Nombre>
<p><a href='@Url.Action("Index","Home")'>Volver a la pagina principal </p>